.navbar{
    background-color: #0c112a;
}

#navbar .nav-link{
    font-family: 'Staatliches', cursive;
    font-size: 16px;
}

#navbar .nav-link:hover{
    color: blue;
}

.nav-link{
    text-shadow: 30px 0px 0px 100px black;
}

#service .card{
    box-shadow: 0px 3px 8px 3px white;
    border-radius: 10px;
}

.container img{
    width: 15%;
    margin-top: 3px;
}

.carousel-inner{
    height: auto;
}

.carousel-caption{
    font-size: 40px;
    font-family: 'Staatliches', cursive;
}

.dark-mode {
    background-color: #101010;
    color: white;
  }

h3{
    font-family: 'Allerta', sans-serif;
    text-align: center;
}

#about .container-fluid{
    background-image: url(img/Server-Management.jpg);
    background-position: center;
    background-size: cover;
}

#about .text-about{
    font-family: 'Overlock', cursive;
    font-size: 16px;
}

#about .btn-light{
    color: blue;
    font-family: 'Overlock', cursive;
}


#service .card-body{
    filter: brightness(10%);
}

#service .card-img-top{
    margin-left: 90px;
}

#service .card-text{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 17px;
    color: black;
}

#service .card-title{
    color: black;
}

#produk .card{
    border-radius: 10px;
    box-shadow: 0px 3px 8px 3px white;
}

#produk .list-group-item{
    font-family: 'Saira Condensed', sans-serif;
}

#footer .container-fluid{
    background-color: #0c112a;
}

#footer .footer-text{
    font-size: 16px;
    font-family: 'Sen', sans-serif;
}

#footer .hakcipta{
    background-color: #090d20;
    text-align: center;
    height: 50px;
    color: white;
    font-family: 'Sen', sans-serif;
}

#footer img{
    width: 63%;
    margin-left: 60px;
}

#footer h3{
    font-size: 20px;
    margin-left: -65px;
}

#footer h5{
    font-size: 20px;
    color: #738191;
}